[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk
[submodule "ext/vulkan-headers"]
	path = ext/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "ext/openal-soft"]
	path = ext/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "ext/dr_libs"]
	path = ext/dr_libs
	url = https://github.com/mackron/dr_libs
